@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-sm3: 330px;
  --breakpoint-sm2: 400px;
  --breakpoint-sm1: 540px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md2: 890px;
  --breakpoint-md1: 960px;
  --breakpoint-lg: 1024px;
  --breakpoint-lg1: 1068px;
  --breakpoint-xl1: 1150px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1336px
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
   scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0px 20px;

}
.ant-select{
  background-color: transparent !important;
}
.ant-select-selector{
  background: transparent !important; 
  color: #ffffff !important;
}

